body {
    background-color: green;
}

h1 {
    text-align: center;
}

/* #cardsHolder {
    display: flex;
    flex-direction: row;
} */

#cardsInHandSection {
    font-size: x-large;
    font-weight: bold;
}

.cards, #placeholder, .playedCard, #deckCards > img {
    height: 7em;
    border: solid black 1px;
    background-color: gray;
    border-radius: .5em;
    margin: .5em;
}

#deckCards, #cardsHolder, .playArea {
    display: grid;
    grid-template-columns: repeat(52, 30px);
}

#placeholder {
    /* position: relative; */
    width: 5em;
    /* height: 5em; */
    display: flex;
    flex-direction: column;
    /* padding-top: 50%; */
    align-items: center;
}

#placeholder:hover {
    background-color: rgb(99, 99, 99);
}

#placeholder:active {
    background-color: gray;
}

.playArea {
    /* background-color: red; */
    height: 40vh;
    width: 80vw;
    border: 1px solid black ;
    background-color: gray;
}

/* #playArea_1 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
} */

.cards, #deckCards > img {
    z-index: 0;
}

.cards:hover, #deckCards > img:hover {
    position: relative;
    top: -10px;
    /* filter:brightness(150%); */
    /* border: 2px solid black; */
    /* right: 10em */
}

.cards:active, #deckCards > img:active {
    filter: brightness(80%);
}

/* -------------------------------------------------------- */

body {
    /* Prevent the user selecting text in the example */
    user-select: none;
  }
  
  #draggable {
    text-align: center;
    background: white;
  }
  
  .dropzone {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin: 10px;
    padding: 10px;
  }
  
  .dropzone.dragover {
    background-color: purple;
  }
  
  .dragging {
    opacity: 0.5;
  }